{% extends 'base.html' %} 
{% include 'navbar.html' %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
    {{ message }}
    <!-- <button type="button" class="  btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <script>
        setTimeout(function () {
            document.getElementById('flash-message').classList.remove('show');
        }, 3000); // Cambia 3000 a la cantidad de milisegundos que desees
        document.getElementById('flash-message').classList.add('hidden');

        const flashMessage = document.getElementById('flash-message');

        flashMessage.addEventListener('transitionend', () => {
            // flashMessage.classList.remove('show');
            flashMessage.classList.add('hidden');
        });

    </script>
</div>
{% endfor %}

{% if name %}
    <h1 class="title"> User added!!! </h1>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
                <td>
                    {{our_user.id}}. <a href="{{url_for('update', id=our_user.id)}}">{{our_user.name}} </a>- {{our_user.email}} - {{our_user.favorite_color}} - <a href="{{url_for('delete', id=our_user.id)}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
{% else %}
    <h1>User list: </h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            {{ form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
            <br>
            {{ form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            <br>
            {{ form.favorite_color.label(class="form-label")}}
            {{form.favorite_color(class="form-control")}}
            <br>
            {{ form.password_hash.label(class="form-label")}}
            {{form.password_hash(class="form-control")}}
            <br>
            {{ form.password_hash2.label(class="form-label")}}
            {{form.password_hash2(class="form-control")}}
            <br>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
    <table class="table table-hover table-bordered table-striped">
    {% for our_user in our_users %}
        <tr>
            <td>
                {{our_user.id}}. <a href="{{url_for('update', id=our_user.id)}}">{{our_user.name}} </a>- {{our_user.email}} - {{our_user.favorite_color}} - PW: {{our_user.password_hash}} <a href="{{url_for('delete', id=our_user.id)}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}


{% endblock %}
