{% extends 'base.html' %} 
{% include 'navbar.html' %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
    {{ message }}
    <!-- <button type="button" class="  btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <script>
        setTimeout(function () {
            document.getElementById('flash-message').classList.remove('show');
        }, 3000); // Cambia 3000 a la cantidad de milisegundos que desees
        document.getElementById('flash-message').classList.add('none');

        const flashMessage = document.getElementById('flash-message');

        flashMessage.addEventListener('transitionend', () => {
            // flashMessage.classList.remove('show');
            flashMessage.classList.add('hidden');
        });

    </script>
</div>
{% endfor %}
<h1 class="title"> Login!!! </h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}
        <br>
        {{ form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>




{% endblock %}
