{% extends 'base.html' %} 
{% include 'navbar.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
    {{ message }}
    <!-- <button type="button" class="  btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    <script>
        setTimeout(function () {
            document.getElementById('flash-message').classList.remove('show');
        }, 3000); // Cambia 3000 a la cantidad de milisegundos que desees
        document.getElementById('flash-message').classList.add('hidden');

        const flashMessage = document.getElementById('flash-message');

        flashMessage.addEventListener('transitionend', () => {
            // flashMessage.classList.remove('show');
            flashMessage.classList.add('hidden');
        });

    </script>
</div>
{% endfor %}
<div class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ post.title}}</h2>
        <small>By: {{ post.poster.email}}</small> <br>
        <small>{{ post.poster.name}} | {{ post.slug}} </small>
        <br>
        <hr>
        {{ post.content|safe}}
        <!-- {{form.content(class="form-control", rows="10")}} -->
        <br>
    </div>
    
    <a href="{{url_for('posts')}}" class="btn btn-primary btn-sm">Back to Posts</a>
    {% if current_user.is_authenticated %}
        {% if post.poster_id == current_user.id %}
        <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-warning btn-sm">Edit Posts</a>
        <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-danger btn-sm">Delete Posts</a>
        {% else%}
        <h3 class="mt-3">You can not edit this post because you don't type...</h3>
        {% endif %}
    {% else %}
        <h3 class="mt-3">If you want to edit this post you must login in...</h3>
    {% endif %}
{% endblock %}