{% extends 'base.html' %} 
{% include 'navbar.html' %}
{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}



{% if id == current_user.id %}
    <h1>Update user... </h1>
    <br>
    <br>
    ID to Update: {{ id }}<br>
    Current Id: {{current_user.id}}
    <br>
    <div class="shadow p-3 mt-3 mb-5 bg-body rounded">
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{ form.name.label(class="form-label")}}
            {{form.name(class="form-control", value=name_to_update.name)}}
            <br>
            {{ form.username.label(class="form-label")}}
            {{form.username(class="form-control", value=name_to_update.username)}}
            <br>
            {{ form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=name_to_update.email)}}
            <br>
            {{ form.favorite_color.label(class="form-label")}}
            {{form.favorite_color(class="form-control", value=name_to_update.favorite_color)}}
            <br>
            {{ form.about_me.label(class="form-label")}}<br>
            <!-- {{form.about_me(class="form-control", value=name_to_update.about_me)}} -->
            <!-- <textarea name="abot_author" cols="120" rows="5">{{form.about_me}}</textarea> -->
            <textarea name="about_me" class="form-control" rows="3">{{name_to_update.about_me}}</textarea>
            <br>
            {{ form.profile_pic.label(class="form-label")}}
            {{form.profile_pic(class="form-control", value=name_to_update.profile_pic)}}
            <br>
            {{form.submit(class="btn btn-primary")}}
            <a href="{{url_for('delete', id=id)}}" class="btn btn-danger" >Delete</a>
        </form>
    </div>
{% else %}

{% endif  %}

{% endblock %}
<!-- https://www.facebook.com/reel/1006838567330622 -->
